.taskItem {
  list-style-type: none;
  border: 1px solid #cbd5e1;
  margin: 10px;
  display: flex;
  align-self: center;
  align-items: center;
}

.title {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 32px;
  align-items: center;
}

.description {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 32px;
  align-items: center;
}

.favorite-icon-container {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.favorite-icon {
  background: transparent;
  margin-right: 24px;
  align-self: center;
  border: none;
  outline: none;
}
