* {
  box-sizing: border-box;
}

.app-container {
  min-height: 100vh;
  min-width: 90%;
  padding: 20px;
}

.responsive-container {
  min-width: 80%;
  margin: auto;
  display: flex;
}

.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
  margin-top: 96px;
  margin-bottom: 32px;
}

.task-form-container {
  min-width: 400px;
}

@media screen and (max-width: 575px) {
  .task-form-container {
    flex-direction: column;
  }
}

.input {
  color: #1e293b;
  font-family: 'Roboto';
  border: 1px solid #d7dfe9;
  border-radius: 2px;
  width: 28%;
  height: 48px;
  padding-left: 16px;
  margin-right: 15px;
  outline: none;
  margin-bottom: 10px;
  flex-grow: 1;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .input {
    width: 280px;
  }
}

.button {
  background-color: #0ea5e9;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  border-radius: 6px;
  border: none;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

@media screen and (max-width: 575px) {
  .button {
    width: 200px;
  }
}

.tasks-container {
  width: 35%;
}

.tasks-container {
  width: 65%;
}
